<h1>Gerenciar Usuários</h1>
<%= link_to "Criar", action: "new" %>

<% if !@users.empty? %>
    <h1>Lista de Usuários</h1>
    <table>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Remover</th>
      <% @users.each do |user| %>
          <tr>
            <td><%=user.name%></td>
            <td><%=user.profile.name%></td>
            <td><%= link_to "REMOVER", {action: "destroy", id: user} , method: :delete  %></td>
          </tr>
      <% end %>
    </table>
<% end %>