<h1>Criar Usuário</h1>

<ul>
  <% if @user %>
      <% @user.errors.messages.each do |attrib, msg| %>
          <li><%="O campo #{t attrib} #{msg.to_sentence}"%></li>
      <% end %>
  <% end %>
</ul>

<% if @form_type == "#{User::STORE_ADMIN_FORM}" %>
<%= render "store_admin_form" %>
<% elsif @form_type == "#{User::SELLER_FORM}" %>
<%= render "store_seller_form" %>
<% end %>


<%= link_to 'Voltar', root_path %>