<h1>AÇÕES ADMINISTRADOR SISTEMA</h1>
<%= link_to "Gerenciar cidades", cities_path %> <br/>
Administrador de Loja  <br/>
<%= link_to "Cadastrar", users_new_store_admin_path %> <br/>
<%#= link_to "Gerenciar administradores de loja", users_path %> <br/>
<%#= link_to "Gerenciar vendedores de loja", users_path %> <br/>
<%#= link_to "Gerenciar produtos", users_path %> <br/>
<%= link_to "Sair", logout_path %> <br/>
